<!DOCTYPE html>
<html>
    <head>
        <title>{{name}}'s Personal WebSite</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <style>
            @font-face { font-family: Cocogoose; src: url('static/Cocogoose.ttf'); }

            #banner 
            {
                width: 100%;
                height: 360px;
                object-fit: cover;
                margin-bottom: 24px;
            }
        </style>
    </head>
    <body>
        {%include 'nav.html'%}
        <div class = "container">
            <h1 class = "text-center mt-4 mb-30 font-weight-bold" style="font-family: Cocogoose; margin-bottom: 36px;">
                {{name}}'s Curriculum Vitae
            </h1>
        </div>
            <img class = "img-fluid" id = "banner" src = "/static/image.jpg" height="350" class="center">
        <div class = "container">
            <h2 class = "text-center mt-5" style="font-family: Cocogoose;margin-top: 40px;">
                <b>My CV</b>

            </h2>
            <div class = "row" style = "margin-top: 36px;"> 
                <div class = "col-md-6"> 
                <p class = "lead" > 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
                    desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                </div>
                <div class = "d-none d-md-block col-md-6" style = "display: flex; align-items: center;">
                    <img class = "img-fluid" id = "banner" src = "/static/me.png" height="350" class="center" style = "height:320px; border-radius: 8px;">
                </div>
            </div>
                <h2 class = "text-center mt-5" style="font-family: Cocogoose;">
                    <b>Job positions</b>
                </h2>
                <p>
                    {%for job in jobs%}
                        {%include 'jobtemplate.html'%}
                    {% endfor %}
                </p>
            <div style = "font-size: 8px; font-family: Verdana; text-align: center;">
                <a href = "mailto: dipasquale.piergiorgio@gmail.com?subject=I want to know you!" type = "button" class="btn btn-dark" style = "margin-top: 18px;"> contact me </a>
            </div>
            <div style = "font-size: 8px; font-family: Verdana; text-align: center; margin-top: 36px;">
                <a href="/ml"  type = "button" class="btn btn-info" style = "margin-bottom: 18px;"> EE </a>
            </div>
        </div>
        {%include 'footer.html'%}
    </body>
</html>